img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background: url("./assets/media/background.jpg") no-repeat center top;
    min-height: 100%;
    background-size:cover;
}