@font-face{
    font-family: Neucha; src: url(./assets/font/neucha.otf)
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    size:initial;
}

/* Formato del encabezado */
header{
    /* Posición siempre en la parte superior */
    position:fixed;

    /* Ancho y alto */
    width:100%;
    height:50px;

    /* Color de fondo y bordes */
    background: rgba(83, 71, 65, 0.582);;
    border-bottom: 4px solid rgb(26, 26, 26);
    border-left: 4px solid rgb(26, 26, 26);;
}

a{
    /* Fuente */
    font-family: Neucha, bold;
    /* Formato */
    text-decoration:underline;
    /* Color */
    color: rgb(26, 26, 26);
    /* Tamaño */
    font-size: 150%;                
}

h1{
    /* Fuente */
    font-family: Neucha, bold;    
    /* Color */
    color: rgb(26, 26, 26);
    /* Tamaño */
    font-size: 300%;
}

h2{
    /* Fuente */
    font-family: Neucha, bold;    
    /* Color */
    color: rgb(26, 26, 26);
    /* Tamaño */
    font-size: 100%;
    text-align: center;
}

p{
    /* Fuente */
    font-family: Neucha;
    /* Formato */
    text-decoration:none;
    /* Color */
    color: rgb(26, 26, 26);
    /* Tamaño */
    font-size: 140%;
    margin:auto;
}

nav{
    /* Ajustamos el margen para que este centrado */
    margin: auto;
    /* Alineamos el texto al centro */
    text-align: center;
    /* Ancho del menú dentro de la barra */
    width:1000px;
}

nav link{ 
    /* Posicion en el bloque */
    display: inline-block;
    margin-left: 80px;
}

nav ul{
    /* Sin margen */
    margin: 10;
    padding: 0;
    list-style: none;
}

/* Cosas de los enlaces del header */
nav a{
    /* Fuente */
    font-family: Neucha, bold;
    /* Formato */
    text-decoration:none;
    /* Color */
    color:#000000;
    /* Tamaño */
    font-size: 150%;                
}

/* Cuando pones el ratón encima de las palabras del header */
nav a:hover{
    color: rgb(80, 80, 80);
}

/* Formato del cuerpo */
body {
    /* Imagen de fondo del cuerpo */
    background: url("./assets/media/background.png") center top;
    /* Cubre toda la pantalla */
    background-size: cover;
    margin:0px;
    min-height: 100%;
}